## UCD Tomato Irrigation and pressure switch data comparison

### Introduction

##### Irrigation amount is one of the important componets of Water 1.0. The primary goal of this comparison is to test the irrigation amount computed from pressure switch with the irrigation from flow meter.

In [15]:
#! pip install git+https://rajenbajg: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@github.com/Arable/calval-etl.git

In [5]:
import datetime as dt
import pandas as pd
import numpy as np
import plotly.graph_objects as go

In [6]:
from calval_etl.utilities.mark_data_access import (
    query_constructor,
    get_db_data,
    get_user_db_creds,
)

In [11]:
db_info = get_user_db_creds("jacob_goldberg", "alp")
db_info_als = get_user_db_creds("jacob_goldberg", "als")

In [7]:
start = dt.datetime(2021, 5, 13, 18, 15)
end = dt.datetime.now()

In [9]:
ET100_mark_id = 'C006740'
ET75_mark_id = 'C006747'

#### pull the hourly pressure switch data

In [18]:
## device 1
query = query_constructor("irrigation_runtime_hourly", ET100_mark_id, start, end)
irrigation_hourly_growers_standard = get_db_data(db_info, query)
## device 2
query = query_constructor("irrigation_runtime_hourly", ET75_mark_id, start, end)
irrigation_hourly_my_almonds = get_db_data(db_info_als, query)

In [19]:
irrigation_hourly_my_almonds

,time,device,location,duration_seconds,source,create_time
14,2021-05-14 18:00:00+00:00,C006747,609d8b42b9ffd30013c67411,1200.0,GEMS,2021-05-14 18:31:17.360385+00:00
15,2021-05-16 01:00:00+00:00,C006747,609d8b42b9ffd30013c67411,300.0,GEMS,2021-05-16 02:35:33.928306+00:00
16,2021-05-16 02:00:00+00:00,C006747,609d8b42b9ffd30013c67411,3600.0,GEMS,2021-05-16 02:35:38.316870+00:00
149,2021-05-16 03:00:00+00:00,C006747,609d8b42b9ffd30013c67411,3600.0,GEMS,2021-05-16 03:35:52.076173+00:00
150,2021-05-16 04:00:00+00:00,C006747,609d8b42b9ffd30013c67411,3600.0,GEMS,2021-05-16 04:35:57.781664+00:00
...,...,...,...,...,...,...
428,2022-05-26 12:00:00+00:00,C006747,609d8b42b9ffd30013c67411,3600.0,GEMS,2022-05-26 12:38:07.105355+00:00
415,2022-05-26 13:00:00+00:00,C006747,609d8b42b9ffd30013c67411,3600.0,GEMS,2022-05-26 13:38:18.381275+00:00
444,2022-05-26 14:00:00+00:00,C006747,609d8b42b9ffd30013c67411,3600.0,GEMS,2022-05-26 14:38:35.656604+00:00
474,2022-05-26 15:00:00+00:00,C006747,609d8b42b9ffd30013c67411,3600.0,GEMS,2022-05-26 15:38:48.334077+00:00
350,2022-05-26 16:00:00+00:00,C006747,609d8b42b9ffd30013c67411,2100.0,GEMS,2022-05-26 16:39:05.240752+00:00

In [13]:
rate = 2.032 # mm/hr # got rate from Loreli as 0.080in/hr

irrigation_hourly_my_almonds['fixed_seconds'] = irrigation_hourly_my_almonds['duration_seconds'].apply(lambda x: x if x <=3600 else 3600)
irrigation_hourly_my_almonds['volume_mm'] = (irrigation_hourly_my_almonds['fixed_seconds'] / 3600) * rate

In [14]:
irrigation_hourly_my_almonds.head()

,time,device,location,duration_seconds,source,create_time,fixed_seconds,volume_mm
14,2021-05-14 18:00:00+00:00,C006747,609d8b42b9ffd30013c67411,1200.0,GEMS,2021-05-14 18:31:17.360385+00:00,1200.0,0.677333
15,2021-05-16 01:00:00+00:00,C006747,609d8b42b9ffd30013c67411,300.0,GEMS,2021-05-16 02:35:33.928306+00:00,300.0,0.169333
16,2021-05-16 02:00:00+00:00,C006747,609d8b42b9ffd30013c67411,3600.0,GEMS,2021-05-16 02:35:38.316870+00:00,3600.0,2.032000
149,2021-05-16 03:00:00+00:00,C006747,609d8b42b9ffd30013c67411,3600.0,GEMS,2021-05-16 03:35:52.076173+00:00,3600.0,2.032000
150,2021-05-16 04:00:00+00:00,C006747,609d8b42b9ffd30013c67411,3600.0,GEMS,2021-05-16 04:35:57.781664+00:00,3600.0,2.032000